.footer{
    height: 20vh;
    background-color: black;
}

.copyright {
    overflow: hidden;
    padding: 0.5em 0em;
    border-top: 20px solid rgba(255, 255, 255, 0.08);
    text-align: center;
  }
  
  .copyright p {
    letter-spacing: 1px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
  }
  /*footer icon*/
  ul.contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
  }
  
  ul.contact li {
    display: inline-block;
    padding: 0em 0.1em;
    font-size: 1em;
  }
  
  ul.contact li span {
    margin: 20px;
    padding: 20px;
  }
  
  ul.contact li a {
    color: #fff;
  }
  
  ul.contact li a:before {
    display: inline-block;
    background: #4c93b9;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
 .icons{
   color: whitesmoke;
   width: 30px;
   height: 30px;
 }

 